In [47]:
import numpy as np
from distributed import Client
import dask.dataframe as dd
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, FloatType, StringType, IntegerType

In [2]:
client = Client(n_workers=12, threads_per_worker=2, processes=False, memory_limit='4GB')
client

In [3]:
orig_helper = dd.read_csv('resources/orig_read_helper.csv').compute().set_index('col_idx')
orig_dtypes = orig_helper['dtype'].to_dict()
orig_col_names = orig_helper['name'].to_dict()

orig = dd.read_csv('sample_orig_2009.txt', sep='|', header=None, dtype=orig_dtypes)\
         .compute().rename(columns=orig_col_names)
orig.head()

,Credit Score,First Payment Date,First Time Homebuyer Flag,Maturity Date,Metropolitan Statistical Area (MSA) Or Metropolitan Division,Mortgage Insurance Percentage (MI %),Number of Units,Occupancy Status,Original Combined Loan-to-Value (CLTV),Original Debt-to-Income (DTI) Ratio,...,Original Loan Term,Number of Borrowers,Seller Name,Servicer Name,Super Conforming Flag,Pre-HARP Loan Sequence Number,Program Indicator,HARP Indicator,Property Valuation Method,floaterest Only (I/O) Indicator
0,795.0,200903.0,N,202402.0,NaN,0.0,1.0,P,60.0,12.0,...,180.0,2.0,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9.0,N
1,766.0,200903.0,Y,203902.0,24020.0,0.0,1.0,P,80.0,31.0,...,360.0,1.0,Other sellers,Other servicers,NaN,NaN,9,NaN,9.0,N
2,701.0,200903.0,N,203902.0,13380.0,0.0,1.0,P,74.0,61.0,...,360.0,1.0,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9.0,N
3,791.0,200903.0,N,203902.0,36540.0,0.0,1.0,P,64.0,38.0,...,360.0,1.0,Other sellers,Other servicers,NaN,NaN,9,NaN,9.0,N
4,725.0,200903.0,N,203902.0,36540.0,0.0,1.0,P,85.0,29.0,...,360.0,2.0,Other sellers,Other servicers,NaN,NaN,9,NaN,9.0,N

In [138]:
svcg_helper

                                              name    dtype  length
col_idx
0                             Loan Sequence Number      str      12
1                         Monthly Reporting Period  float32       6
2                               Current Actual UPB  float64      12
3                  Current Loan Delinquency Status      str       3
4                                         Loan Age  float16       3
5               Remaining Months to Legal Maturity  float16       3
6                                  Repurchase Flag      str       1
7                                Modification Flag      str       1
8                                Zero Balance Code  float16       2
9                      Zero Balance Effective Date  float32       6
10                         Current floaterest Rate  float32       8
11                            Current Deferred UPB  float64      12
12       Due Date of Last Paid Installment (DDLPI)  float32       6
13                                   MI Recoveries  float64      12
14                              Net Sales Proceeds      str      14
15                               Non MI Recoveries  float64      12
16                                        Expenses  float64      12
17                                     Legal Costs  float64      12
18            Mafloatenance and Preservation Costs  float64      12
19                             Taxes and Insurance  float64      12
20                          Miscellaneous Expenses  float64      12
21                         Actual Loss Calculation  float64      12
22                               Modification Cost  float64      12
23                          Step Modification Flag      str       1
24                           Deferred Payment Plan      str       1
25                  Estimated Loan-to-Value (ELTV)  float16       4
26                        Zero Balance Removal UPB  float64      12
27                   Delinquent Accrued floaterest  float64      12
28                     Delinquency Due to Disaster      str       1
29                 Borrower Assistance Status Code      str       1

In [ ]:
.toPandas().set_index('name').T.to_dict('list')

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, FloatType, StringType, IntegerType

# start a spark session
spark = SparkSession \
    .builder \
    .appName("label generation") \
    .getOrCreate()

# read csv to specify schema for reading svcg files
svcg_helper = spark.read.csv('resources/svcg_read_helper.csv', header=True)
# transform to Pandas format to generate a dictionary 
# since the helper only aims to specify a fixed set of schema for each column, it does not need be scaled
svcg_helper = svcg_helper.toPandas().set_index('col_idx').to_dict()

# create schema for reading svcg file
struct_field_lst = []
for i in range(len(svcg_helper['name'])):
    name = svcg_helper['name'][f'{i}']
    dtype = FloatType() if ('float' in svcg_helper['dtype'][f'{i}']) else StringType()
    # connect column name with dtype
    struct_field_lst.append(StructField(name, dtype, True))
schema = StructType(struct_field_lst)

# create dataframe
svcg = spark.read.csv('sample_svcg_2009.txt', sep='|', schema=schema)

# generate labels with specified conditions
svcg = svcg.withColumn('Label',  
    # delinquency status greater than 3 means above 90 days of delinquency 
    ((svcg['Current Loan Delinquency Status'].isNotNull()) & (svcg['Current Loan Delinquency Status'] >= 3) & 
    # filter out REO Acquisition, Unknown, and Unaviable options
     (~(svcg['Current Loan Delinquency Status']).isin(['R', 'XX', '   ']))) | 
    # select those who have zero balance code of 3, 6, 9
    ((svcg['Zero Balance Code'].isNotNull()) & (svcg['Zero Balance Code'].isin([3.0, 6.0, 9.0])))
                      )

# cast label as integer type
svcg = svcg.withColumn("Label", svcg["Label"].cast(IntegerType()))

# rename the column name to be legal for parquet format
svcg = svcg.withColumnRenamed("Loan Sequence Number", "Loan_Sequence_Number")

# output parquet file with primary key and label
svcg.select(['Loan_Sequence_Number','Label']).write.parquet("output/proto.parquet")

Py4JJavaError: An error occurred while calling o574.parquet.
: java.lang.RuntimeException: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.getWinUtilsPath(Shell.java:736)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:271)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:287)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:865)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkOneDirWithMode(RawLocalFileSystem.java:547)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:587)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:559)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:586)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:559)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:586)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:559)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:586)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:559)
	at org.apache.hadoop.fs.ChecksumFileSystem.mkdirs(ChecksumFileSystem.java:705)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.setupJob(FileOutputCommitter.java:354)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.setupJob(HadoopMapReduceCommitProtocol.scala:178)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:173)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:188)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:108)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:106)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:131)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:180)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:218)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:215)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:176)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:132)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:131)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:989)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:772)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:989)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:438)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:415)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:293)
	at org.apache.spark.sql.DataFrameWriter.parquet(DataFrameWriter.scala:874)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:64)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:564)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:832)
Caused by: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.fileNotFoundException(Shell.java:548)
	at org.apache.hadoop.util.Shell.getHadoopHomeDir(Shell.java:569)
	at org.apache.hadoop.util.Shell.getQualifiedBin(Shell.java:592)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:689)
	at org.apache.hadoop.util.StringUtils.<clinit>(StringUtils.java:78)
	at org.apache.hadoop.conf.Configuration.getTimeDurationHelper(Configuration.java:1814)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1791)
	at org.apache.hadoop.util.ShutdownHookManager.getShutdownTimeout(ShutdownHookManager.java:183)
	at org.apache.hadoop.util.ShutdownHookManager$HookEntry.<init>(ShutdownHookManager.java:207)
	at org.apache.hadoop.util.ShutdownHookManager.addShutdownHook(ShutdownHookManager.java:302)
	at org.apache.spark.util.SparkShutdownHookManager.install(ShutdownHookManager.scala:181)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks$lzycompute(ShutdownHookManager.scala:50)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks(ShutdownHookManager.scala:48)
	at org.apache.spark.util.ShutdownHookManager$.addShutdownHook(ShutdownHookManager.scala:153)
	at org.apache.spark.util.ShutdownHookManager$.<init>(ShutdownHookManager.scala:58)
	at org.apache.spark.util.ShutdownHookManager$.<clinit>(ShutdownHookManager.scala)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:326)
	at org.apache.spark.deploy.SparkSubmit.prepareSubmitEnvironment(SparkSubmit.scala:343)
	at org.apache.spark.deploy.SparkSubmit.org$apache$spark$deploy$SparkSubmit$$runMain(SparkSubmit.scala:894)
	at org.apache.spark.deploy.SparkSubmit.doRunMain$1(SparkSubmit.scala:180)
	at org.apache.spark.deploy.SparkSubmit.submit(SparkSubmit.scala:203)
	at org.apache.spark.deploy.SparkSubmit.doSubmit(SparkSubmit.scala:90)
	at org.apache.spark.deploy.SparkSubmit$$anon$2.doSubmit(SparkSubmit.scala:1030)
	at org.apache.spark.deploy.SparkSubmit$.main(SparkSubmit.scala:1039)
	at org.apache.spark.deploy.SparkSubmit.main(SparkSubmit.scala)
Caused by: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset.
	at org.apache.hadoop.util.Shell.checkHadoopHomeInner(Shell.java:468)
	at org.apache.hadoop.util.Shell.checkHadoopHome(Shell.java:439)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:516)
	... 21 more

In [151]:
# read csv to specify schema for reading svcg files
svcg_helper = spark.read.csv('resources/svcg_read_helper.csv', header=True)
# transform to Pandas format to generate a dictionary 
# since the helper only aims to specify a fixed set of schema for each column, it does not need be scaled
svcg_helper = svcg_helper.toPandas().set_index('col_idx').to_dict()
svcg_helper

{'name': {'0': 'Loan Sequence Number',
  '1': 'Monthly Reporting Period',
  '2': 'Current Actual UPB',
  '3': 'Current Loan Delinquency Status',
  '4': 'Loan Age',
  '5': 'Remaining Months to Legal Maturity',
  '6': 'Repurchase Flag',
  '7': 'Modification Flag',
  '8': 'Zero Balance Code',
  '9': 'Zero Balance Effective Date',
  '10': 'Current floaterest Rate',
  '11': 'Current Deferred UPB',
  '12': 'Due Date of Last Paid Installment (DDLPI)',
  '13': 'MI Recoveries',
  '14': 'Net Sales Proceeds',
  '15': 'Non MI Recoveries',
  '16': 'Expenses',
  '17': 'Legal Costs',
  '18': 'Mafloatenance and Preservation Costs',
  '19': 'Taxes and Insurance',
  '20': 'Miscellaneous Expenses',
  '21': 'Actual Loss Calculation',
  '22': 'Modification Cost',
  '23': 'Step Modification Flag',
  '24': 'Deferred Payment Plan',
  '25': 'Estimated Loan-to-Value (ELTV)',
  '26': 'Zero Balance Removal UPB',
  '27': 'Delinquent Accrued floaterest',
  '28': 'Delinquency Due to Disaster',
  '29': 'Borrower Assistance Status Code'},
 'dtype': {'0': 'str',
  '1': 'float32',
  '2': 'float64',
  '3': 'str',
  '4': 'float16',
  '5': 'float16',
  '6': 'str',
  '7': 'str',
  '8': 'float16',
  '9': 'float32',
  '10': 'float32',
  '11': 'float64',
  '12': 'float32',
  '13': 'float64',
  '14': 'str',
  '15': 'float64',
  '16': 'float64',
  '17': 'float64',
  '18': 'float64',
  '19': 'float64',
  '20': 'float64',
  '21': 'float64',
  '22': 'float64',
  '23': 'str',
  '24': 'str',
  '25': 'float16',
  '26': 'float64',
  '27': 'float64',
  '28': 'str',
  '29': 'str'},
 'length': {'0': '12',
  '1': '6',
  '2': '12',
  '3': '3',
  '4': '3',
  '5': '3',
  '6': '1',
  '7': '1',
  '8': '2',
  '9': '6',
  '10': '8',
  '11': '12',
  '12': '6',
  '13': '12',
  '14': '14',
  '15': '12',
  '16': '12',
  '17': '12',
  '18': '12',
  '19': '12',
  '20': '12',
  '21': '12',
  '22': '12',
  '23': '1',
  '24': '1',
  '25': '4',
  '26': '12',
  '27': '12',
  '28': '1',
  '29': '1'}}

In [137]:
svcg_helper = dd.read_csv('resources/svcg_read_helper.csv').compute().set_index('col_idx')
svcg_dtypes = svcg_helper['dtype'].to_dict()
svcg_col_names = svcg_helper['name'].to_dict()

svcg = dd.read_csv('sample_svcg_2009.txt', sep='|', header=None, dtype=svcg_dtypes)\
         .compute().rename(columns=svcg_col_names)
svcg.head(30)

,Loan Sequence Number,Monthly Reporting Period,Current Actual UPB,Current Loan Delinquency Status,Loan Age,Remaining Months to Legal Maturity,Repurchase Flag,Modification Flag,Zero Balance Code,Zero Balance Effective Date,...,Miscellaneous Expenses,Actual Loss Calculation,Modification Cost,Step Modification Flag,Deferred Payment Plan,Estimated Loan-to-Value (ELTV),Zero Balance Removal UPB,Delinquent Accrued floaterest,Delinquency Due to Disaster,Borrower Assistance Status Code
0,F09Q10000013,200902.0,157000.00,0,0.0,180.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F09Q10000013,200903.0,156000.00,0,1.0,179.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F09Q10000013,200904.0,155000.00,0,2.0,178.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F09Q10000013,200905.0,155000.00,0,3.0,177.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F09Q10000013,200906.0,154000.00,0,4.0,176.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,F09Q10000013,200907.0,153000.00,0,5.0,175.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,F09Q10000013,200908.0,152000.00,0,6.0,174.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,F09Q10000013,200909.0,151743.42,0,7.0,173.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,F09Q10000013,200910.0,151042.83,0,8.0,172.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,F09Q10000013,200911.0,150339.61,0,9.0,171.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,F09Q10000013,200912.0,149633.75,0,10.0,170.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,F09Q10000013,201001.0,148925.25,0,11.0,169.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,F09Q10000013,201002.0,148214.09,0,12.0,168.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,F09Q10000013,201003.0,147500.26,0,13.0,167.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,F09Q10000013,201004.0,146783.76,0,14.0,166.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,F09Q10000013,201005.0,146064.57,0,15.0,165.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,F09Q10000013,201006.0,145265.10,0,16.0,164.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,F09Q10000013,201007.0,144462.63,0,17.0,163.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,F09Q10000013,201008.0,143657.15,0,18.0,162.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,F09Q10000013,201009.0,142848.65,0,19.0,161.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,F09Q10000013,201010.0,142037.12,0,20.0,160.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,F09Q10000013,201011.0,141222.55,0,21.0,159.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,F09Q10000013,201012.0,140404.92,0,22.0,158.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,F09Q10000013,201101.0,139584.23,0,23.0,157.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,F09Q10000013,201102.0,138760.46,0,24.0,156.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,F09Q10000013,201103.0,137933.60,0,25.0,155.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,F09Q10000013,201104.0,137103.64,0,26.0,154.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,F09Q10000013,201105.0,136270.57,0,27.0,153.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,F09Q10000013,201106.0,0.00,0,28.0,152.0,N,NaN,1.0,201106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,136270.57,NaN,NaN,NaN
29,F09Q10000078,200902.0,128000.00,0,0.0,360.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
svcg_helper

{'name': {0: 'Loan Sequence Number',
  1: 'Monthly Reporting Period',
  2: 'Current Actual UPB',
  3: 'Current Loan Delinquency Status',
  4: 'Loan Age',
  5: 'Remaining Months to Legal Maturity',
  6: 'Repurchase Flag',
  7: 'Modification Flag',
  8: 'Zero Balance Code',
  9: 'Zero Balance Effective Date',
  10: 'Current floaterest Rate',
  11: 'Current Deferred UPB',
  12: 'Due Date of Last Paid Installment (DDLPI)',
  13: 'MI Recoveries',
  14: 'Net Sales Proceeds',
  15: 'Non MI Recoveries',
  16: 'Expenses',
  17: 'Legal Costs',
  18: 'Mafloatenance and Preservation Costs',
  19: 'Taxes and Insurance',
  20: 'Miscellaneous Expenses',
  21: 'Actual Loss Calculation',
  22: 'Modification Cost',
  23: 'Step Modification Flag',
  24: 'Deferred Payment Plan',
  25: 'Estimated Loan-to-Value (ELTV)',
  26: 'Zero Balance Removal UPB',
  27: 'Delinquent Accrued floaterest',
  28: 'Delinquency Due to Disaster',
  29: 'Borrower Assistance Status Code'},
 'dtype': {0: 'str',
  1: 'float32',
  2: 'float64',
  3: 'str',
  4: 'float16',
  5: 'float16',
  6: 'str',
  7: 'str',
  8: 'float16',
  9: 'float32',
  10: 'float32',
  11: 'float64',
  12: 'float32',
  13: 'float64',
  14: 'str',
  15: 'float64',
  16: 'float64',
  17: 'float64',
  18: 'float64',
  19: 'float64',
  20: 'float64',
  21: 'float64',
  22: 'float64',
  23: 'str',
  24: 'str',
  25: 'float16',
  26: 'float64',
  27: 'float64',
  28: 'str',
  29: 'str'},
 'length': {0: 12,
  1: 6,
  2: 12,
  3: 3,
  4: 3,
  5: 3,
  6: 1,
  7: 1,
  8: 2,
  9: 6,
  10: 8,
  11: 12,
  12: 6,
  13: 12,
  14: 14,
  15: 12,
  16: 12,
  17: 12,
  18: 12,
  19: 12,
  20: 12,
  21: 12,
  22: 12,
  23: 1,
  24: 1,
  25: 4,
  26: 12,
  27: 12,
  28: 1,
  29: 1}}

In [116]:
spark = SparkSession \
    .builder \
    .appName("label generation") \
    .getOrCreate()

In [141]:
svcg_helper = svcg_helper.to_dict()
struct_field_lst = []
for i in range(len(svcg_helper['name'])):
    name = svcg_helper['name'][i]
    dtype = FloatType() if ('float' in svcg_helper['dtype'][i]) else StringType()
    struct_field_lst.append(StructField(name, dtype, True))
schema = StructType(struct_field_lst)
schema

StructType(List(StructField(Loan Sequence Number,StringType,true),StructField(Monthly Reporting Period,FloatType,true),StructField(Current Actual UPB,FloatType,true),StructField(Current Loan Delinquency Status,StringType,true),StructField(Loan Age,FloatType,true),StructField(Remaining Months to Legal Maturity,FloatType,true),StructField(Repurchase Flag,StringType,true),StructField(Modification Flag,StringType,true),StructField(Zero Balance Code,FloatType,true),StructField(Zero Balance Effective Date,FloatType,true),StructField(Current floaterest Rate,FloatType,true),StructField(Current Deferred UPB,FloatType,true),StructField(Due Date of Last Paid Installment (DDLPI),FloatType,true),StructField(MI Recoveries,FloatType,true),StructField(Net Sales Proceeds,StringType,true),StructField(Non MI Recoveries,FloatType,true),StructField(Expenses,FloatType,true),StructField(Legal Costs,FloatType,true),StructField(Mafloatenance and Preservation Costs,FloatType,true),StructField(Taxes and Insurance,FloatType,true),StructField(Miscellaneous Expenses,FloatType,true),StructField(Actual Loss Calculation,FloatType,true),StructField(Modification Cost,FloatType,true),StructField(Step Modification Flag,StringType,true),StructField(Deferred Payment Plan,StringType,true),StructField(Estimated Loan-to-Value (ELTV),FloatType,true),StructField(Zero Balance Removal UPB,FloatType,true),StructField(Delinquent Accrued floaterest,FloatType,true),StructField(Delinquency Due to Disaster,StringType,true),StructField(Borrower Assistance Status Code,StringType,true)))

In [129]:


# create dataframe
svcg = spark.read.csv('sample_svcg_2009.txt', sep='|', schema=schema)

svcg = svcg.withColumn('Label',  
    # delinquency status greater than 3 means above 90 days of delinquency 
    ((svcg['Current Loan Delinquency Status'].isNotNull()) & (svcg['Current Loan Delinquency Status'] >= 3) & 
    # filter out REO Acquisition, Unknown, and Unaviable options
     (~(svcg['Current Loan Delinquency Status']).isin(['R', 'XX', '   ']))) | 
    # select those who have zero balance code of 3, 6, 9
    ((svcg['Zero Balance Code'].isNotNull()) & (svcg['Zero Balance Code'].isin([3.0, 6.0, 9.0])))
                      )

In [130]:
svcg = svcg.withColumn("Label", svcg["Label"].cast(IntegerType()))

In [131]:
svcg.groupBy('Label').count().show()

+-----+-------+
|Label|  count|
+-----+-------+
|    1|  17727|
|    0|2934219|
+-----+-------+

In [86]:
svcg.where(svcg.Label==1).show()

+--------------------+------------------------+------------------+-------------------------------+--------+----------------------------------+---------------+-----------------+-----------------+---------------------------+-----------------------+--------------------+-----------------------------------------+-------------+------------------+-----------------+---------+-----------+------------------------------------+-------------------+----------------------+-----------------------+-----------------+----------------------+---------------------+------------------------------+------------------------+-----------------------------+---------------------------+-------------------------------+-----+
|Loan Sequence Number|Monthly Reporting Period|Current Actual UPB|Current Loan Delinquency Status|Loan Age|Remaining Months to Legal Maturity|Repurchase Flag|Modification Flag|Zero Balance Code|Zero Balance Effective Date|Current floaterest Rate|Current Deferred UPB|Due Date of Last Paid Installment (DDLPI)|MI Recoveries|Net Sales Proceeds|Non MI Recoveries| Expenses|Legal Costs|Mafloatenance and Preservation Costs|Taxes and Insurance|Miscellaneous Expenses|Actual Loss Calculation|Modification Cost|Step Modification Flag|Deferred Payment Plan|Estimated Loan-to-Value (ELTV)|Zero Balance Removal UPB|Delinquent Accrued floaterest|Delinquency Due to Disaster|Borrower Assistance Status Code|Label|
+--------------------+------------------------+------------------+-------------------------------+--------+----------------------------------+---------------+-----------------+-----------------+---------------------------+-----------------------+--------------------+-----------------------------------------+-------------+------------------+-----------------+---------+-----------+------------------------------------+-------------------+----------------------+-----------------------+-----------------+----------------------+---------------------+------------------------------+------------------------+-----------------------------+---------------------------+-------------------------------+-----+
|        F09Q10004221|                202001.0|               0.0|                              R|   130.0|                             421.0|              N|             null|              9.0|                   202001.0|                    4.5|                 0.0|                                 201605.0|     70864.64|         109482.28|             2.63|-43730.49|    -6754.1|                            -24822.1|          -10926.34|              -1227.95|             -141479.56|         20803.17|                  null|                 null|                         163.0|               241370.14|                     36728.49|                       null|                           null|    1|
|        F09Q10008577|                201702.0|               0.0|                              R|    95.0|                              85.0|              N|             null|              9.0|                   201702.0|                    4.5|                 0.0|                                 201512.0|          0.0|          55325.71|           1340.5| -7088.59|    -952.62|                            -3373.62|           -1564.29|              -1198.06|              -14291.01|             null|                  null|                 null|                          null|                60919.13|                       2949.5|                       null|                           null|    1|
|        F09Q10012593|                201209.0|               0.0|                              6|    42.0|                             318.0|              N|             null|              3.0|                   201209.0|                    5.0|                 0.0|                                 201203.0|     32838.35|         205935.35|            87.15|  -607.85|        0.0|                               -13.0|            -449.85|                -145.0|              -62799.44|             null|                  null|                 null|                          null|                294212.0|                      6840.43|                       null|                           null|    1|
|        F09Q10034988|                201202.0|               0.0|                              R|    36.0|                             324.0|              N|             null|              9.0|                   201202.0|                   5.25|                 0.0|                                 201009.0|          0.0|         127370.13|          1515.17|-10383.06|    -2409.6|                             -5449.7|           -2123.76|                -400.0|              -84193.35|             null|                  null|                 null|                          null|               189601.25|                     13094.34|                       null|                           null|    1|
|        F09Q10041087|                201104.0|               0.0|                              5|    25.0|                             335.0|              N|             null|              3.0|                   201104.0|                    5.5|                 0.0|                                 201011.0|          0.0|          46620.81|              0.0|   -145.0|        0.0|                                 0.0|                0.0|                -145.0|               -9417.61|             null|                  null|                 null|                          null|                54719.24|                      1174.18|                       null|                           null|    1|
|        F09Q10042348|                201305.0|               0.0|                              R|    51.0|                             309.0|              Y|             null|              9.0|                   201305.0|                   6.75|                 0.0|                                 201010.0|          0.0|         176484.84|          2658.91|-30285.61|   -4358.43|                           -17829.42|           -7330.81|               -766.95|                    0.0|             null|                  null|                 null|                          null|               188511.02|                     31167.16|                       null|                           null|    1|
|        F09Q10042761|                201308.0|               0.0|                              4|    54.0|                             306.0|              N|             null|              3.0|                   201308.0|                  4.875|                 0.0|                                 201304.0|          0.0|         252587.58|          3147.92|   -200.0|        0.0|                                 0.0|                0.0|                -200.0|              -55989.53|             null|                  null|                 null|                          null|               306896.03|                      4629.01|                       null|                           null|    1|
|        F09Q10044592|                201112.0|               0.0|                              R|    34.0|                             325.0|              N|             null|              9.0|                   201112.0|                    6.5|                 0.0|                                 200910.0|          0.0|         199067.58|          6764.69|-18374.82|    -2236.0|                            -6099.98|           -9534.84|                -504.0|             -196891.56|             null|                  null|                 null|                          null|               339156.44|                     45192.59|                       null|                           null|    1|
|        F09Q10045208|                201608.0|               0.0|                              9|    90.0|                             270.0|              N|             null|              3.0|                   201608.0|                   5.75|                 0.0|                                 201511.0|          0.0|          53690.27|              0.0| -9334.55|    -4545.3|                            -4524.25|                0.0|                -265.0|               -25249.3|             null|                  null|                 null|                          null|                66895.74|                      2709.28|                       null|                           null|    1|
|        F09Q10060255|                201208.0|               0.0|                             12|    41.0|                             319.0|              Y|             null|              6.0|                   201208.0|                  5.125|                 0.0|                                 201108.0|         null|              null|             null|     null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|               372040.97|                         null|                       null|                           null|    1|
|        F09Q10065254|                201111.0|               0.0|                              R|    33.0|                             327.0|              N|             null|              9.0|                   201111.0|                  4.875|                 0.0|                                 201006.0|          0.0|         138964.16|            11.85| -7212.27|   -3938.39|                            -1137.04|           -1771.84|                -365.0|             -159099.23|             null|                  null|                 null|                          null|                273340.7|                     17522.28|                       null|                           null|    1|
|        F09Q10069053|                201210.0|               0.0|                              5|    44.0|                             316.0|              N|             null|              3.0|                   201210.0|                  6.625|                 0.0|                                 201205.0|          0.0|         126663.39|           941.67|   -171.0|        0.0|                               -26.0|                0.0|                -145.0|              -20935.48|             null|                  null|                 null|                          null|               144589.14|                       3780.4|                       null|                           null|    1|
|        F09Q10069639|                201302.0|               0.0|                             12|    48.0|                             312.0|              N|             null|              3.0|                   201302.0|                  4.625|                 0.0|                                 201202.0|          0.0|         318668.59|          3704.08|-10693.63|    -4219.4|                              -175.0|           -6099.23|                -200.0|              -20803.32|             null|                  null|                 null|                          null|                318927.9|                     13554.44|                       null|                           null|    1|
|        F09Q10069663|                201205.0|               0.0|                             15|    39.0|                             321.0|              N|             null|              3.0|                   201205.0|                    5.5|                 0.0|                                 201102.0|          0.0|            256092|            43.81| -6052.94|     -914.0|                               -80.0|           -4768.94|                -290.0|              -97578.68|             null|                  null|                 null|                          null|                326692.0|                     20969.54|                       null|                           null|    1|
|        F09Q10072673|                201403.0|               0.0|                              R|    61.0|                             299.0|              N|             null|              9.0|                   201403.0|                    6.5|                 0.0|                                 201104.0|          0.0|         107960.08|           760.84| -23546.6|   -4175.93|                            -4991.96|          -12866.76|              -1511.95|              -229554.2|             null|                  null|                 null|                          null|               266860.44|                     47868.09|                       null|                           null|    1|
|        F09Q10076370|                201312.0|               0.0|                              R|    58.0|                             302.0|              N|             null|              9.0|                   201312.0|                   4.75|                 0.0|                                 201006.0|          0.0|          118817.1|           576.87|-40021.79|    -2437.0|                           -24110.86|          -12186.98|              -1286.95|             -150757.62|             null|                  null|                 null|                          null|               200330.62|                     29799.18|                       null|                           null|    1|
|        F09Q10080133|                201703.0|               0.0|                              8|    97.0|                             263.0|              N|             null|              3.0|                   201703.0|                   5.75|                 0.0|                                 201607.0|     40733.39|           95379.5|          1851.23| -5381.41|   -1024.55|                            -2084.95|           -1951.91|                -320.0|                1339.65|             null|                  null|                 null|                          null|               126702.87|                      4540.19|                       null|                           null|    1|
|        F09Q10084009|                201603.0|               0.0|                              R|    85.0|                             275.0|              N|             null|              9.0|                   201603.0|                   4.75|                 0.0|                                 201209.0|          0.0|         121299.92|            878.3|-34684.83|   -9569.72|                           -12678.75|          -10803.21|              -1633.15|               -99658.1|             null|                  null|                 null|                          null|               163745.69|                     23405.81|                       null|                           null|    1|
|        F09Q10090076|                201202.0|               0.0|                              8|    36.0|                             324.0|              N|             null|              3.0|                   201202.0|                  5.875|                 0.0|                                 201106.0|          0.0|           35689.9|          1318.54|  -4405.0|   -1358.61|                               -70.0|           -2541.39|                -435.0|              -63371.12|             null|                  null|                 null|                          null|                92654.44|                      3320.12|                       null|                           null|    1|
|        F09Q10095418|                201202.0|               0.0|                              R|    36.0|                             324.0|              N|             null|              9.0|                   201202.0|                   5.25|                 0.0|                                 200912.0|          0.0|         301320.51|              0.0| -38544.5|   -13462.1|                             -8040.7|           -16416.7|                -625.0|             -162329.42|             null|                  null|                 null|                          null|                385437.5|                     39667.94|                       null|                           null|    1|
+--------------------+------------------------+------------------+-------------------------------+--------+----------------------------------+---------------+-----------------+-----------------+---------------------------+-----------------------+--------------------+-----------------------------------------+-------------+------------------+-----------------+---------+-----------+------------------------------------+-------------------+----------------------+-----------------------+-----------------+----------------------+---------------------+------------------------------+------------------------+-----------------------------+---------------------------+-------------------------------+-----+
only showing top 20 rows

In [83]:
svcg.where(col("Label").isNull())

NameError: name 'col' is not defined

In [34]:
svcg['Zero Balance Code'].isNotNull().groupBy($"value").count.orderBy($"count".desc)

SyntaxError: invalid syntax (<ipython-input-34-24ad08d9def5>, line 1)

In [37]:
svcg['Zero Balance Code'].isNotNull().groupBy('Zero Balance Code').count().orderBy('count').show()

TypeError: 'Column' object is not callable

In [27]:
svcg.select('Zero Balance Code').show()

+-----------------+
|Zero Balance Code|
+-----------------+
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
|             null|
+-----------------+
only showing top 20 rows

In [46]:
svcg['Loan Sequence Number']

Column<'Loan Sequence Number'>

In [29]:
schema

StructType(List(StructField(member_srl,IntegerType,true),StructField(click_day,IntegerType,true),StructField(productid,IntegerType,true)))

In [26]:
svcg_helper.shape

(30, 3)

In [22]:
svcg_helper.to_dict()

{'name': {0: 'Loan Sequence Number',
  1: 'Monthly Reporting Period',
  2: 'Current Actual UPB',
  3: 'Current Loan Delinquency Status',
  4: 'Loan Age',
  5: 'Remaining Months to Legal Maturity',
  6: 'Repurchase Flag',
  7: 'Modification Flag',
  8: 'Zero Balance Code',
  9: 'Zero Balance Effective Date',
  10: 'Current floaterest Rate',
  11: 'Current Deferred UPB',
  12: 'Due Date of Last Paid Installment (DDLPI)',
  13: 'MI Recoveries',
  14: 'Net Sales Proceeds',
  15: 'Non MI Recoveries',
  16: 'Expenses',
  17: 'Legal Costs',
  18: 'Mafloatenance and Preservation Costs',
  19: 'Taxes and Insurance',
  20: 'Miscellaneous Expenses',
  21: 'Actual Loss Calculation',
  22: 'Modification Cost',
  23: 'Step Modification Flag',
  24: 'Deferred Payment Plan',
  25: 'Estimated Loan-to-Value (ELTV)',
  26: 'Zero Balance Removal UPB',
  27: 'Delinquent Accrued floaterest',
  28: 'Delinquency Due to Disaster',
  29: 'Borrower Assistance Status Code'},
 'dtype': {0: 'str',
  1: 'float32',
  2: 'float64',
  3: 'str',
  4: 'float16',
  5: 'float16',
  6: 'str',
  7: 'str',
  8: 'float16',
  9: 'float32',
  10: 'float32',
  11: 'float64',
  12: 'float32',
  13: 'float64',
  14: 'str',
  15: 'float64',
  16: 'float64',
  17: 'float64',
  18: 'float64',
  19: 'float64',
  20: 'float64',
  21: 'float64',
  22: 'float64',
  23: 'str',
  24: 'str',
  25: 'float16',
  26: 'float64',
  27: 'float64',
  28: 'str',
  29: 'str'},
 'length': {0: 12,
  1: 6,
  2: 12,
  3: 3,
  4: 3,
  5: 3,
  6: 1,
  7: 1,
  8: 2,
  9: 6,
  10: 8,
  11: 12,
  12: 6,
  13: 12,
  14: 14,
  15: 12,
  16: 12,
  17: 12,
  18: 12,
  19: 12,
  20: 12,
  21: 12,
  22: 12,
  23: 1,
  24: 1,
  25: 4,
  26: 12,
  27: 12,
  28: 1,
  29: 1}}

In [13]:
spark.read.csv?

In [15]:
svcg.head()

Row(_c0='F09Q10000013', _c1='200902', _c2='157000.00', _c3='0', _c4='000', _c5='180', _c6=None, _c7=None, _c8=None, _c9=None, _c10='4.500', _c11='0.00', _c12=None, _c13=None, _c14=None, _c15=None, _c16=None, _c17=None, _c18=None, _c19=None, _c20=None, _c21=None, _c22=None, _c23=None, _c24=None, _c25=None, _c26=None, _c27=None, _c28=None, _c29=None)

In [101]:
spark.read.format("csv").load("sample_svcg_2009.txt")

DataFrame[_c0: string]

In [104]:
svcg['Zero Balance Code'].value_counts()

1.0     43629
9.0       221
15.0      150
6.0       150
3.0       122
2.0        96
Name: Zero Balance Code, dtype: int64

In [107]:
svcg['Current Loan Delinquency Status'].value_counts().head(50)

0     2906738
1       21370
2        6015
3        2708
4        1990
5        1653
6        1370
7        1080
8         936
9         823
10        698
11        580
12        518
13        473
R         443
14        384
15        365
16        319
17        290
18        262
19        240
20        230
21        193
22        175
23        153
24        150
25        125
27        120
26        118
28        104
29        100
30         91
31         80
32         77
33         74
35         69
34         68
36         63
38         57
37         57
39         49
40         48
41         38
43         36
42         32
44         27
45         24
49         22
46         22
47         21
Name: Current Loan Delinquency Status, dtype: int64

In [48]:
pd.Int64Dtype()

Int64Dtype()

In [29]:
df = pd.read_csv('sample_orig_2009.txt', sep='|', header=None)
df.iloc[0]

0                795
1             200903
2                  N
3             202402
4                NaN
5                  0
6                  1
7                  P
8                 60
9                 12
10            157000
11                60
12               4.5
13                 R
14                 N
15               FRM
16                MN
17                SF
18             56600
19      F09Q10000013
20                 C
21               180
22                 2
23     Other sellers
24    U.S. BANK N.A.
25               NaN
26               NaN
27                 9
28               NaN
29                 9
30                 N
Name: 0, dtype: object

In [5]:
dd.read_csv?

In [ ]:
dtypes_orig = {0: 'int16', # credit score 4 digits
               1: 'int32', # first payment date YYYYMM
               2: 'U1', # first time homebuyer flag Y or N
               3: 'int32', # matruity
              }

Dask DataFrame Structure:
                  0      1       2      3        4      5      6       7      8      9      10     11       12      13      14      15      16      17     18      19      20     21     22      23      24      25      26     27      28     29      30
npartitions=1
               int64  int64  object  int64  float64  int64  int64  object  int64  int64  int64  int64  float64  object  object  object  object  object  int64  object  object  int64  int64  object  object  object  object  int64  object  int64  object
                 ...    ...     ...    ...      ...    ...    ...     ...    ...    ...    ...    ...      ...     ...     ...     ...     ...     ...    ...     ...     ...    ...    ...     ...     ...     ...     ...    ...     ...    ...     ...
Dask Name: read-csv, 1 tasks

In [23]:
pd.read_csv('sample_orig_2009.txt', sep='|', header=None)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,795,200903,N,202402,NaN,0,1,P,60,12,...,180,2,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9,N
1,766,200903,Y,203902,24020.0,0,1,P,80,31,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
2,701,200903,N,203902,13380.0,0,1,P,74,61,...,360,1,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9,N
3,791,200903,N,203902,36540.0,0,1,P,64,38,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
4,725,200903,N,203902,36540.0,0,1,P,85,29,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,749,201001,Y,203912,19060.0,0,1,P,100,43,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
49996,709,200912,Y,203911,16740.0,0,1,P,100,40,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
49997,801,201001,Y,203912,28940.0,0,1,P,100,36,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
49998,705,201002,Y,204001,NaN,0,1,P,93,34,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
49999,765,201002,9,202501,13900.0,0,1,P,62,28,...,180,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N

In [18]:
dd.read_csv('historical_data_time_2009Q1.txt', sep='|', header=None, low_memory=False).head(n=20)

distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.40 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.40 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.41 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.41 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.41 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.41 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.43 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((<function safe_head at 0x0000024DD0017700>, (<function pandas_read_text at 0x0000024DD0047EE0>, <function read_csv at 0x0000024DCE7C7CA0>, (<function read_block_from_file at 0x0000024DD00A8670>, <OpenFile 'C:/Users/ziw029/Desktop/SP21/dsc102/PA/historical_data_time_2009Q1.txt'>, 0, 64000000, b'\n'), b'', {'sep': '|', 'header': None, 'low_memory': False}, {0: dtype('O'), 1: dtype('int64'), 2: dtype('float64'), 3: dtype('int64'), 4: dtype('int64'), 5: dtype('int64'), 6: dtype('O'), 7: dtype('O'), 8: dtype('float64'), 9: dtype('float64'), 10: dtype('float64'), 11: dtype('float64'), 12: dtype('float64'), 13: dtype('float64'), 14: dtype('float64'), 15: dtype('float64'), 16: dtype('float64'), 17: dtype('float64'), 18: dtype('float64'), 19: dtype('float64'), 20: dtype('float64'), 21: dtype('float64'), 22: dtype('float64'), 23: dtype('O'), 24: dtype('float64'), 25: dtype('float64'), 26: dtype('float64'), 27: dtype('float64'), 28: dtype('float64'), 29: dtype('float64')}, [0, 1, 2, 3, 4, 5, 6,
kwargs:    {}
Exception: ValueError('Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.\n\n+--------+--------+----------+\n| Column | Found  | Expected |\n+--------+--------+----------+\n| 24     | object | float64  |\n| 28     | object | float64  |\n| 29     | object | float64  |\n| 3      | object | int64    |\n+--------+--------+----------+\n\nThe following columns also raised exceptions on conversion:\n\n- 24\n  ValueError("could not convert string to float: \'Y\'")\n- 28\n  ValueError("could not convert string to float: \'Y\'")\n- 29\n  ValueError("could not convert string to float: \'F\'")\n- 3\n  ValueError("invalid literal for int() with base 10: \'R\'")\n\nUsually this is due to dask\'s dtype inference failing, and\n*may* be fixed by specifying dtypes manually by adding:\n\ndtype={24: \'object\',\n       28: \'object\',\n       29: \'object\',\n       3: \'object\'}\n\nto the call to `read_csv`/`read_table`.')

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+--------+--------+----------+
| Column | Found  | Expected |
+--------+--------+----------+
| 24     | object | float64  |
| 28     | object | float64  |
| 29     | object | float64  |
| 3      | object | int64    |
+--------+--------+----------+

The following columns also raised exceptions on conversion:

- 24
  ValueError("could not convert string to float: 'Y'")
- 28
  ValueError("could not convert string to float: 'Y'")
- 29
  ValueError("could not convert string to float: 'F'")
- 3
  ValueError("invalid literal for int() with base 10: 'R'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={24: 'object',
       28: 'object',
       29: 'object',
       3: 'object'}

to the call to `read_csv`/`read_table`.

In [110]:
temp = pd.read_csv('sample_svcg_2009.txt', sep='|', header=None)

C:\Users\ziw029\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,7,23,24,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [114]:
temp[3].value_counts()

0      2579903
0       326835
1        19452
2         5566
3         2503
1         1918
4         1842
5         1534
6         1271
7          989
8          869
9          763
10         642
11         541
12         481
2          449
R          443
13         435
14         351
15         332
16         292
17         262
18         240
19         217
20         211
3          205
21         177
22         161
4          148
23         144
24         138
5          119
25         119
26         112
27         106
28         100
6           99
29          96
7           91
30          87
31          76
32          73
33          70
8           67
35          65
34          64
9           60
36          60
10          56
37          55
38          55
39          47
40          46
11          39
13          38
12          37
41          36
43          34
14          33
15          33
42          30
17          28
16          27
44          25
19          23
18          22
45          22
49          20
46          20
47          19
20          19
50          17
48          17
21          16
51          15
22          14
27          14
52          13
24          12
54          12
53          12
55          10
56          10
61           9
58           9
23           9
57           9
59           9
60           9
67           7
64           7
62           7
63           7
26           6
65           6
25           6
66           6
69           6
71           6
68           6
70           6
72           5
73           4
31           4
28           4
32           4
29           4
33           4
34           4
35           4
30           4
36           3
74           3
78           2
77           2
49           2
50           2
51           2
48           2
53           2
52           2
76           2
54           2
80           2
59           2
58           2
57           2
47           2
56           2
46           2
40           2
37           2
79           2
81           2
75           2
45           2
39           2
41           2
42           2
38           2
43           2
44           2
55           2
82           1
83           1
104          1
61           1
60           1
Name: 3, dtype: int64

In [113]:
pd.set_option('display.max_rows', 500)