In [20]:
import numpy as np
from distributed import Client
import dask.dataframe as dd
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, FloatType, StringType

In [2]:
client = Client(n_workers=12, threads_per_worker=2, processes=False, memory_limit='4GB')
client

In [3]:
orig_helper = dd.read_csv('resources/orig_read_helper.csv').compute().set_index('col_idx')
orig_dtypes = orig_helper['dtype'].to_dict()
orig_col_names = orig_helper['name'].to_dict()

orig = dd.read_csv('sample_orig_2009.txt', sep='|', header=None, dtype=orig_dtypes)\
         .compute().rename(columns=orig_col_names)
orig.head()

,Credit Score,First Payment Date,First Time Homebuyer Flag,Maturity Date,Metropolitan Statistical Area (MSA) Or Metropolitan Division,Mortgage Insurance Percentage (MI %),Number of Units,Occupancy Status,Original Combined Loan-to-Value (CLTV),Original Debt-to-Income (DTI) Ratio,...,Original Loan Term,Number of Borrowers,Seller Name,Servicer Name,Super Conforming Flag,Pre-HARP Loan Sequence Number,Program Indicator,HARP Indicator,Property Valuation Method,floaterest Only (I/O) Indicator
0,795.0,200903.0,N,202402.0,NaN,0.0,1.0,P,60.0,12.0,...,180.0,2.0,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9.0,N
1,766.0,200903.0,Y,203902.0,24020.0,0.0,1.0,P,80.0,31.0,...,360.0,1.0,Other sellers,Other servicers,NaN,NaN,9,NaN,9.0,N
2,701.0,200903.0,N,203902.0,13380.0,0.0,1.0,P,74.0,61.0,...,360.0,1.0,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9.0,N
3,791.0,200903.0,N,203902.0,36540.0,0.0,1.0,P,64.0,38.0,...,360.0,1.0,Other sellers,Other servicers,NaN,NaN,9,NaN,9.0,N
4,725.0,200903.0,N,203902.0,36540.0,0.0,1.0,P,85.0,29.0,...,360.0,2.0,Other sellers,Other servicers,NaN,NaN,9,NaN,9.0,N

In [36]:
svcg_helper = dd.read_csv('resources/svcg_read_helper.csv').compute().set_index('col_idx')
svcg_dtypes = svcg_helper['dtype'].to_dict()
svcg_col_names = svcg_helper['name'].to_dict()

svcg = dd.read_csv('sample_svcg_2009.txt', sep='|', header=None, dtype=svcg_dtypes)\
         .compute().rename(columns=svcg_col_names)
svcg.head(30)

,Loan Sequence Number,Monthly Reporting Period,Current Actual UPB,Current Loan Delinquency Status,Loan Age,Remaining Months to Legal Maturity,Repurchase Flag,Modification Flag,Zero Balance Code,Zero Balance Effective Date,...,Miscellaneous Expenses,Actual Loss Calculation,Modification Cost,Step Modification Flag,Deferred Payment Plan,Estimated Loan-to-Value (ELTV),Zero Balance Removal UPB,Delinquent Accrued floaterest,Delinquency Due to Disaster,Borrower Assistance Status Code
0,F09Q10000013,200902.0,157000.00,0,0.0,180.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F09Q10000013,200903.0,156000.00,0,1.0,179.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F09Q10000013,200904.0,155000.00,0,2.0,178.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F09Q10000013,200905.0,155000.00,0,3.0,177.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F09Q10000013,200906.0,154000.00,0,4.0,176.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,F09Q10000013,200907.0,153000.00,0,5.0,175.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,F09Q10000013,200908.0,152000.00,0,6.0,174.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,F09Q10000013,200909.0,151743.42,0,7.0,173.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,F09Q10000013,200910.0,151042.83,0,8.0,172.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,F09Q10000013,200911.0,150339.61,0,9.0,171.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,F09Q10000013,200912.0,149633.75,0,10.0,170.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,F09Q10000013,201001.0,148925.25,0,11.0,169.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,F09Q10000013,201002.0,148214.09,0,12.0,168.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,F09Q10000013,201003.0,147500.26,0,13.0,167.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,F09Q10000013,201004.0,146783.76,0,14.0,166.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,F09Q10000013,201005.0,146064.57,0,15.0,165.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,F09Q10000013,201006.0,145265.10,0,16.0,164.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,F09Q10000013,201007.0,144462.63,0,17.0,163.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,F09Q10000013,201008.0,143657.15,0,18.0,162.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,F09Q10000013,201009.0,142848.65,0,19.0,161.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,F09Q10000013,201010.0,142037.12,0,20.0,160.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,F09Q10000013,201011.0,141222.55,0,21.0,159.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,F09Q10000013,201012.0,140404.92,0,22.0,158.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,F09Q10000013,201101.0,139584.23,0,23.0,157.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,F09Q10000013,201102.0,138760.46,0,24.0,156.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,F09Q10000013,201103.0,137933.60,0,25.0,155.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,F09Q10000013,201104.0,137103.64,0,26.0,154.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,F09Q10000013,201105.0,136270.57,0,27.0,153.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,F09Q10000013,201106.0,0.00,0,28.0,152.0,N,NaN,1.0,201106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,136270.57,NaN,NaN,NaN
29,F09Q10000078,200902.0,128000.00,0,0.0,360.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
spark = SparkSession \
    .builder \
    .appName("label generation") \
    .getOrCreate()

In [38]:
svcg = spark.read.csv('sample_svcg_2009.txt', sep='|', schema=schema)

In [37]:
svcg_helper = svcg_helper.to_dict()
struct_field_lst = []
for i in range(len(svcg_helper['name'])):
    name = svcg_helper['name'][i]
    dtype = FloatType() if ('float' in svcg_helper['dtype'][i]) else StringType()
    struct_field_lst.append(StructField(name, dtype, True))
schema = StructType(struct_field_lst)
schema

StructType(List(StructField(Loan Sequence Number,StringType,true),StructField(Monthly Reporting Period,FloatType,true),StructField(Current Actual UPB,FloatType,true),StructField(Current Loan Delinquency Status,StringType,true),StructField(Loan Age,FloatType,true),StructField(Remaining Months to Legal Maturity,FloatType,true),StructField(Repurchase Flag,StringType,true),StructField(Modification Flag,StringType,true),StructField(Zero Balance Code,FloatType,true),StructField(Zero Balance Effective Date,FloatType,true),StructField(Current floaterest Rate,FloatType,true),StructField(Current Deferred UPB,FloatType,true),StructField(Due Date of Last Paid Installment (DDLPI),FloatType,true),StructField(MI Recoveries,FloatType,true),StructField(Net Sales Proceeds,StringType,true),StructField(Non MI Recoveries,FloatType,true),StructField(Expenses,FloatType,true),StructField(Legal Costs,FloatType,true),StructField(Mafloatenance and Preservation Costs,FloatType,true),StructField(Taxes and Insurance,FloatType,true),StructField(Miscellaneous Expenses,FloatType,true),StructField(Actual Loss Calculation,FloatType,true),StructField(Modification Cost,FloatType,true),StructField(Step Modification Flag,StringType,true),StructField(Deferred Payment Plan,StringType,true),StructField(Estimated Loan-to-Value (ELTV),FloatType,true),StructField(Zero Balance Removal UPB,FloatType,true),StructField(Delinquent Accrued floaterest,FloatType,true),StructField(Delinquency Due to Disaster,StringType,true),StructField(Borrower Assistance Status Code,StringType,true)))

In [48]:
svcg.show()

+--------------------+------------------------+------------------+-------------------------------+--------+----------------------------------+---------------+-----------------+-----------------+---------------------------+-----------------------+--------------------+-----------------------------------------+-------------+------------------+-----------------+--------+-----------+------------------------------------+-------------------+----------------------+-----------------------+-----------------+----------------------+---------------------+------------------------------+------------------------+-----------------------------+---------------------------+-------------------------------+
|Loan Sequence Number|Monthly Reporting Period|Current Actual UPB|Current Loan Delinquency Status|Loan Age|Remaining Months to Legal Maturity|Repurchase Flag|Modification Flag|Zero Balance Code|Zero Balance Effective Date|Current floaterest Rate|Current Deferred UPB|Due Date of Last Paid Installment (DDLPI)|MI Recoveries|Net Sales Proceeds|Non MI Recoveries|Expenses|Legal Costs|Mafloatenance and Preservation Costs|Taxes and Insurance|Miscellaneous Expenses|Actual Loss Calculation|Modification Cost|Step Modification Flag|Deferred Payment Plan|Estimated Loan-to-Value (ELTV)|Zero Balance Removal UPB|Delinquent Accrued floaterest|Delinquency Due to Disaster|Borrower Assistance Status Code|
+--------------------+------------------------+------------------+-------------------------------+--------+----------------------------------+---------------+-----------------+-----------------+---------------------------+-----------------------+--------------------+-----------------------------------------+-------------+------------------+-----------------+--------+-----------+------------------------------------+-------------------+----------------------+-----------------------+-----------------+----------------------+---------------------+------------------------------+------------------------+-----------------------------+---------------------------+-------------------------------+
|        F09Q10000013|                200902.0|          157000.0|                              0|     0.0|                             180.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200903.0|          156000.0|                              0|     1.0|                             179.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200904.0|          155000.0|                              0|     2.0|                             178.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200905.0|          155000.0|                              0|     3.0|                             177.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200906.0|          154000.0|                              0|     4.0|                             176.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200907.0|          153000.0|                              0|     5.0|                             175.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200908.0|          152000.0|                              0|     6.0|                             174.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200909.0|         151743.42|                              0|     7.0|                             173.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200910.0|         151042.83|                              0|     8.0|                             172.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200911.0|         150339.61|                              0|     9.0|                             171.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                200912.0|         149633.75|                              0|    10.0|                             170.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                201001.0|         148925.25|                              0|    11.0|                             169.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                201002.0|          148214.1|                              0|    12.0|                             168.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                201003.0|         147500.27|                              0|    13.0|                             167.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                201004.0|         146783.77|                              0|    14.0|                             166.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                201005.0|         146064.56|                              0|    15.0|                             165.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                201006.0|          145265.1|                              0|    16.0|                             164.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                201007.0|         144462.62|                              0|    17.0|                             163.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                201008.0|         143657.16|                              0|    18.0|                             162.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
|        F09Q10000013|                201009.0|         142848.66|                              0|    19.0|                             161.0|           null|             null|             null|                       null|                    4.5|                 0.0|                                     null|         null|              null|             null|    null|       null|                                null|               null|                  null|                   null|             null|                  null|                 null|                          null|                    null|                         null|                       null|                           null|
+--------------------+------------------------+------------------+-------------------------------+--------+----------------------------------+---------------+-----------------+-----------------+---------------------------+-----------------------+--------------------+-----------------------------------------+-------------+------------------+-----------------+--------+-----------+------------------------------------+-------------------+----------------------+-----------------------+-----------------+----------------------+---------------------+------------------------------+------------------------+-----------------------------+---------------------------+-------------------------------+
only showing top 20 rows

In [46]:
svcg['Loan Sequence Number']

Column<'Loan Sequence Number'>

In [29]:
schema

StructType(List(StructField(member_srl,IntegerType,true),StructField(click_day,IntegerType,true),StructField(productid,IntegerType,true)))

In [26]:
svcg_helper.shape

(30, 3)

In [22]:
svcg_helper.to_dict()

{'name': {0: 'Loan Sequence Number',
  1: 'Monthly Reporting Period',
  2: 'Current Actual UPB',
  3: 'Current Loan Delinquency Status',
  4: 'Loan Age',
  5: 'Remaining Months to Legal Maturity',
  6: 'Repurchase Flag',
  7: 'Modification Flag',
  8: 'Zero Balance Code',
  9: 'Zero Balance Effective Date',
  10: 'Current floaterest Rate',
  11: 'Current Deferred UPB',
  12: 'Due Date of Last Paid Installment (DDLPI)',
  13: 'MI Recoveries',
  14: 'Net Sales Proceeds',
  15: 'Non MI Recoveries',
  16: 'Expenses',
  17: 'Legal Costs',
  18: 'Mafloatenance and Preservation Costs',
  19: 'Taxes and Insurance',
  20: 'Miscellaneous Expenses',
  21: 'Actual Loss Calculation',
  22: 'Modification Cost',
  23: 'Step Modification Flag',
  24: 'Deferred Payment Plan',
  25: 'Estimated Loan-to-Value (ELTV)',
  26: 'Zero Balance Removal UPB',
  27: 'Delinquent Accrued floaterest',
  28: 'Delinquency Due to Disaster',
  29: 'Borrower Assistance Status Code'},
 'dtype': {0: 'str',
  1: 'float32',
  2: 'float64',
  3: 'str',
  4: 'float16',
  5: 'float16',
  6: 'str',
  7: 'str',
  8: 'float16',
  9: 'float32',
  10: 'float32',
  11: 'float64',
  12: 'float32',
  13: 'float64',
  14: 'str',
  15: 'float64',
  16: 'float64',
  17: 'float64',
  18: 'float64',
  19: 'float64',
  20: 'float64',
  21: 'float64',
  22: 'float64',
  23: 'str',
  24: 'str',
  25: 'float16',
  26: 'float64',
  27: 'float64',
  28: 'str',
  29: 'str'},
 'length': {0: 12,
  1: 6,
  2: 12,
  3: 3,
  4: 3,
  5: 3,
  6: 1,
  7: 1,
  8: 2,
  9: 6,
  10: 8,
  11: 12,
  12: 6,
  13: 12,
  14: 14,
  15: 12,
  16: 12,
  17: 12,
  18: 12,
  19: 12,
  20: 12,
  21: 12,
  22: 12,
  23: 1,
  24: 1,
  25: 4,
  26: 12,
  27: 12,
  28: 1,
  29: 1}}

In [13]:
spark.read.csv?

In [15]:
svcg.head()

Row(_c0='F09Q10000013', _c1='200902', _c2='157000.00', _c3='0', _c4='000', _c5='180', _c6=None, _c7=None, _c8=None, _c9=None, _c10='4.500', _c11='0.00', _c12=None, _c13=None, _c14=None, _c15=None, _c16=None, _c17=None, _c18=None, _c19=None, _c20=None, _c21=None, _c22=None, _c23=None, _c24=None, _c25=None, _c26=None, _c27=None, _c28=None, _c29=None)

In [6]:
spark.read.format("csv").load("sample_svcg_2009.txt")

AttributeError: module 'pyspark' has no attribute 'read'

In [8]:
svcg['Zero Balance Code'].value_counts()

1.0     43629
9.0       221
15.0      150
6.0       150
3.0       122
2.0        96
Name: Zero Balance Code, dtype: int64

In [10]:
svcg['Current Loan Delinquency Status'].value_counts()

0      2906738
1        21370
2         6015
3         2708
4         1990
        ...
76           2
81           2
83           1
104          1
82           1
Name: Current Loan Delinquency Status, Length: 86, dtype: int64

In [48]:
pd.Int64Dtype()

Int64Dtype()

In [29]:
df = pd.read_csv('sample_orig_2009.txt', sep='|', header=None)
df.iloc[0]

0                795
1             200903
2                  N
3             202402
4                NaN
5                  0
6                  1
7                  P
8                 60
9                 12
10            157000
11                60
12               4.5
13                 R
14                 N
15               FRM
16                MN
17                SF
18             56600
19      F09Q10000013
20                 C
21               180
22                 2
23     Other sellers
24    U.S. BANK N.A.
25               NaN
26               NaN
27                 9
28               NaN
29                 9
30                 N
Name: 0, dtype: object

In [5]:
dd.read_csv?

In [ ]:
dtypes_orig = {0: 'int16', # credit score 4 digits
               1: 'int32', # first payment date YYYYMM
               2: 'U1', # first time homebuyer flag Y or N
               3: 'int32', # matruity
              }

Dask DataFrame Structure:
                  0      1       2      3        4      5      6       7      8      9      10     11       12      13      14      15      16      17     18      19      20     21     22      23      24      25      26     27      28     29      30
npartitions=1
               int64  int64  object  int64  float64  int64  int64  object  int64  int64  int64  int64  float64  object  object  object  object  object  int64  object  object  int64  int64  object  object  object  object  int64  object  int64  object
                 ...    ...     ...    ...      ...    ...    ...     ...    ...    ...    ...    ...      ...     ...     ...     ...     ...     ...    ...     ...     ...    ...    ...     ...     ...     ...     ...    ...     ...    ...     ...
Dask Name: read-csv, 1 tasks

In [23]:
pd.read_csv('sample_orig_2009.txt', sep='|', header=None)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,795,200903,N,202402,NaN,0,1,P,60,12,...,180,2,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9,N
1,766,200903,Y,203902,24020.0,0,1,P,80,31,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
2,701,200903,N,203902,13380.0,0,1,P,74,61,...,360,1,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9,N
3,791,200903,N,203902,36540.0,0,1,P,64,38,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
4,725,200903,N,203902,36540.0,0,1,P,85,29,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,749,201001,Y,203912,19060.0,0,1,P,100,43,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
49996,709,200912,Y,203911,16740.0,0,1,P,100,40,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
49997,801,201001,Y,203912,28940.0,0,1,P,100,36,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
49998,705,201002,Y,204001,NaN,0,1,P,93,34,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
49999,765,201002,9,202501,13900.0,0,1,P,62,28,...,180,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N

In [18]:
dd.read_csv('historical_data_time_2009Q1.txt', sep='|', header=None, low_memory=False).head(n=20)

distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.40 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.40 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.41 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.41 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.41 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.41 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.43 GB -- Worker memory limit: 2.00 GB
distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((<function safe_head at 0x0000024DD0017700>, (<function pandas_read_text at 0x0000024DD0047EE0>, <function read_csv at 0x0000024DCE7C7CA0>, (<function read_block_from_file at 0x0000024DD00A8670>, <OpenFile 'C:/Users/ziw029/Desktop/SP21/dsc102/PA/historical_data_time_2009Q1.txt'>, 0, 64000000, b'\n'), b'', {'sep': '|', 'header': None, 'low_memory': False}, {0: dtype('O'), 1: dtype('int64'), 2: dtype('float64'), 3: dtype('int64'), 4: dtype('int64'), 5: dtype('int64'), 6: dtype('O'), 7: dtype('O'), 8: dtype('float64'), 9: dtype('float64'), 10: dtype('float64'), 11: dtype('float64'), 12: dtype('float64'), 13: dtype('float64'), 14: dtype('float64'), 15: dtype('float64'), 16: dtype('float64'), 17: dtype('float64'), 18: dtype('float64'), 19: dtype('float64'), 20: dtype('float64'), 21: dtype('float64'), 22: dtype('float64'), 23: dtype('O'), 24: dtype('float64'), 25: dtype('float64'), 26: dtype('float64'), 27: dtype('float64'), 28: dtype('float64'), 29: dtype('float64')}, [0, 1, 2, 3, 4, 5, 6,
kwargs:    {}
Exception: ValueError('Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.\n\n+--------+--------+----------+\n| Column | Found  | Expected |\n+--------+--------+----------+\n| 24     | object | float64  |\n| 28     | object | float64  |\n| 29     | object | float64  |\n| 3      | object | int64    |\n+--------+--------+----------+\n\nThe following columns also raised exceptions on conversion:\n\n- 24\n  ValueError("could not convert string to float: \'Y\'")\n- 28\n  ValueError("could not convert string to float: \'Y\'")\n- 29\n  ValueError("could not convert string to float: \'F\'")\n- 3\n  ValueError("invalid literal for int() with base 10: \'R\'")\n\nUsually this is due to dask\'s dtype inference failing, and\n*may* be fixed by specifying dtypes manually by adding:\n\ndtype={24: \'object\',\n       28: \'object\',\n       29: \'object\',\n       3: \'object\'}\n\nto the call to `read_csv`/`read_table`.')

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+--------+--------+----------+
| Column | Found  | Expected |
+--------+--------+----------+
| 24     | object | float64  |
| 28     | object | float64  |
| 29     | object | float64  |
| 3      | object | int64    |
+--------+--------+----------+

The following columns also raised exceptions on conversion:

- 24
  ValueError("could not convert string to float: 'Y'")
- 28
  ValueError("could not convert string to float: 'Y'")
- 29
  ValueError("could not convert string to float: 'F'")
- 3
  ValueError("invalid literal for int() with base 10: 'R'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={24: 'object',
       28: 'object',
       29: 'object',
       3: 'object'}

to the call to `read_csv`/`read_table`.